<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h3>
                        Accounts List
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <table class="table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Account Name
                                </th>
                                <th>
                                    Balance
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>