<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{accountDetails.account.Name}} - Transactions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Category
                            </th>
                            <!--<th>
                                Actions
                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in accountDetails.account.Transactions">
                            <td>
                                {{transaction.Description}}
                            </td>
                            <td>
                                {{transaction.Created | date:'medium'}}
                            </td>
                            <td>
                                {{transaction.Amount | currency}}
                            </td>
                            <td>
                                {{transaction.Category.Name}}
                            </td>
                            <!--<td>
                                <a ui-sref=""
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>