<div class="row">
    <div class="col-md-11">
        <h1 class="page-header">
            Dashboard <small>For The {{budgetList.household.Name}} Household</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Accounts</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="account in dashboardDetails.accounts">
                            <a ui-sref="accounts.list.details({ id: account.Id })"><h5>{{account.Name}}: {{account.Balance | currency}}</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <nvd3 options="dashboardDetails.options" data="dashboardDetails.values" style="width:100% !important"></nvd3>
            </div>
            <!--{{dashboardDetails.values}}-->
        </div>
    </div>
</div>
