@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div ng-app="HouseholdBudgeter">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-center">
                    <li>
                        <a ui-sref="household.details">Household</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-center">
                    <li>
                        <a ui-sref="accounts.list">Accounts</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="login">Login</a>
                    </li>
                </ul>
            </div>

            <div ui-view></div>
        </div>

        <script type="text/ng-template" id="confirmModal.html">
            <div class="modal-body">
                {{confirm.message}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="confirm.ok(); ">OK</button>
            </div>
        </script>

        

    </div>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>


    <script src="~/app/app.js"></script>
    <script src="~/app/services/authSvc.js"></script>
    <script src="~/app/services/authIntercepterSvc.js"></script>
    <script src="~/app/services/householdSvc.js"></script>

    <script src="~/app/controllers/confirmModalCtrl.js"></script>
    <script src="~/app/services/confirmModalSvc.js"></script>

    <script src="~/app/controllers/loginCtrl.js"></script>
    <script src="~/app/controllers/homeCtrl.js"></script>
    <script src="~/app/controllers/householdCtrl.js"></script>
    <script src="~/app/controllers/householdDetailsCtrl.js"></script>
    <script src="~/app/controllers/householdJoinCtrl.js"></script>
</body>
</html>
