@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/nv.d3.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <!-- Bootstrap Styles-->
    <!-- FontAwesome Styles-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Content/custom-styles.css" rel="stylesheet" />
    <!--tr-ngGrid-->
    <link href="~/Content/trNgGrid.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="~/Scripts/guidely/guidely.css" rel="stylesheet" />
</head>

<body ng-app="HouseholdBudgeter">
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><i class="fa fa-home fa-1x"></i>Budgeter</span>
            </div>

            <ul class="nav navbar-top-links navbar-right" ng-controller="navCtrl as nav">
                <li class="dropdown" dropdown>
                    <a dropdown-toggle aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> {{nav.auth.username}}<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--<li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>-->
                        <li>
                            <span ng-click="nav.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</span>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="household.details"><i class="fa fa-home"></i> Household</a>
                    </li>
                    <li>
                        <a ui-sref="accounts.list"><i class="fa fa-money"></i> Accounts</a>
                    </li>
                    <li>
                        <a ui-sref="budget.list"><i class="fa fa-object-group"></i> Budget</a>
                    </li>
                    <li>
                        <a ui-sref="profile"><i class="fa fa-user"></i> Profile</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div ui-view></div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
        <script type="text/ng-template" id="confirmModal.html">
            <div class="modal-body">
                {{confirm.message}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="confirm.ok(); ">OK</button>
            </div>
        </script>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script src="~/Scripts/nv.d3.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-nvd3.min.js"></script>

    <script src="~/Scripts/trNgGrid.js"></script>

    <script src="~/app/app.js"></script>

    <script src="~/app/services/Accounts/accountSvc.js"></script>
    <script src="~/app/services/Authorization/authIntercepterSvc.js"></script>
    <script src="~/app/services/Authorization/authSvc.js"></script>
    <script src="~/app/services/Budget/budgetItemSvc.js"></script>
    <script src="~/app/services/Categories/categorySvc.js"></script>
    <script src="~/app/services/Household/householdSvc.js"></script>
    <script src="~/app/services/Modals/confirmModalSvc.js"></script>
    <script src="~/app/services/Transactions/transactionSvc.js"></script>

    <script src="~/app/controllers/Accounts/accounts_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_create_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_details_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_edit_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_details_createTrans_Ctrl.js"></script>
    <script src="~/app/controllers/Accounts/accounts_list_details_editTrans_Ctrl.js"></script>

    <script src="~/app/controllers/Budget/budget_Ctrl.js"></script>
    <script src="~/app/controllers/Budget/budget_list_createItem_Ctrl.js"></script>
    <script src="~/app/controllers/Budget/budget_list_Ctrl.js"></script>
    <script src="~/app/controllers/Budget/budget_list_editItem_Ctrl.js"></script>

    <script src="~/app/controllers/Categories/newCategoryCtrl.js"></script>

    <script src="~/app/controllers/Dashboard/dashboard_Ctrl.js"></script>
    <script src="~/app/controllers/Dashboard/dashboard_details_Ctrl.js"></script>

    <script src="~/app/controllers/Household/household_Ctrl.js"></script>
    <script src="~/app/controllers/Household/household_details_Ctrl.js"></script>
    <script src="~/app/controllers/Household/household_join_Ctrl.js"></script>

    <script src="~/app/controllers/User/register_Ctrl.js"></script>
    <script src="~/app/controllers/User/login_Ctrl.js"></script>
    <script src="~/app/controllers/User/profile_Ctrl.js"></script>
    <script src="~/app/controllers/User/change_password_Ctrl.js"></script>

    <script src="~/app/controllers/home_Ctrl.js"></script>
    <script src="~/app/controllers/User/navCtrl.js"></script>
</body>

</html>



@*
    @{
        Layout = null;
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
            @Styles.Render("~/Content/css")
            <link href="~/Content/nv.d3.css" rel="stylesheet" />
        <link href="~/Content/nv.d3.min.css" rel="stylesheet" />
    </head>
    <body>
        <div ng-app="HouseholdBudgeter">
            <div class="container">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a ui-sref="home">Home</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav text-center">
                        <li>
                            <a ui-sref="dashboard.details">Dashboard</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav text-center">
                        <li>
                            <a ui-sref="household.details">Household</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav text-center">
                        <li>
                            <a ui-sref="accounts.list">Accounts</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav text-center">
                        <li>
                            <a ui-sref="budget.list">Budget</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ui-sref="login">Login</a>
                        </li>
                    </ul>
                </div>

                <div ui-view></div>
            </div>

            <script type="text/ng-template" id="confirmModal.html">
                <div class="modal-body">
                    {{confirm.message}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="confirm.ok(); ">OK</button>
                </div>
            </script>
        </div>
        <script src="~/Scripts/d3/d3.min.js"></script>
        <script src="~/Scripts/nv.d3.js"></script>
        <script src="~/Scripts/nv.d3.min.js"></script>

        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-ui-router.min.js"></script>
        <script src="~/Scripts/angular-local-storage.min.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
        <script src="~/Scripts/angular-nvd3.js"></script>
        <script src="~/Scripts/angular-nvd3.min.js"></script>

        <script src="~/app/app.js"></script>

        <script src="~/app/services/Accounts/accountSvc.js"></script>
        <script src="~/app/services/Authorization/authIntercepterSvc.js"></script>
        <script src="~/app/services/Authorization/authSvc.js"></script>
        <script src="~/app/services/Budget/budgetItemSvc.js"></script>
        <script src="~/app/services/Categories/categorySvc.js"></script>
        <script src="~/app/services/Household/householdSvc.js"></script>
        <script src="~/app/services/Modals/confirmModalSvc.js"></script>
        <script src="~/app/services/Transactions/transactionSvc.js"></script>

        <!--
        <script src="~/app/services/authSvc.js"></script>
        <script src="~/app/services/authIntercepterSvc.js"></script>
        <script src="~/app/services/householdSvc.js"></script>
        <script src="~/app/services/accountSvc.js"></script>
        <script src="~/app/services/categorySvc.js"></script>
        <script src="~/app/services/budgetItemSvc.js"></script>
        <script src="~/app/services/confirmModalSvc.js"></script>
        <script src="~/app/services/transactionSvc.js"></script>
            -->
        <script src="~/app/controllers/Accounts/accounts_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_create_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_details_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_edit_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_details_createTrans_Ctrl.js"></script>
        <script src="~/app/controllers/Accounts/accounts_list_details_editTrans_Ctrl.js"></script>

        <script src="~/app/controllers/Budget/budget_Ctrl.js"></script>
        <script src="~/app/controllers/Budget/budget_list_createItem_Ctrl.js"></script>
        <script src="~/app/controllers/Budget/budget_list_Ctrl.js"></script>
        <script src="~/app/controllers/Budget/budget_list_editItem_Ctrl.js"></script>

        <script src="~/app/controllers/Categories/newCategoryCtrl.js"></script>

        <script src="~/app/controllers/Dashboard/dashboard_Ctrl.js"></script>
        <script src="~/app/controllers/Dashboard/dashboard_details_Ctrl.js"></script>

        <script src="~/app/controllers/Household/household_Ctrl.js"></script>
        <script src="~/app/controllers/Household/household_details_Ctrl.js"></script>
        <script src="~/app/controllers/Household/household_join_Ctrl.js"></script>

        <script src="~/app/controllers/User/login_Ctrl.js"></script>

        <script src="~/app/controllers/home_Ctrl.js"></script>
        <!--
        <script src="~/app/controllers/accountCtrl.js"></script>
        <script src="~/app/controllers/accountsListCtrl.js"></script>
        <script src="~/app/controllers/accountDetailsCtrl.js"></script>
        <script src="~/app/controllers/createAccountCtrl.js"></script>
        <script src="~/app/controllers/accountEditCtrl.js"></script>
        <script src="~/app/controllers/createItemCtrl.js"></script>
        <script src="~/app/controllers/budgetListCtrl.js"></script>
        <script src="~/app/controllers/budgetCtrl.js"></script>
        <script src="~/app/controllers/dashboardCtrl.js"></script>
        <script src="~/app/controllers/dashboardDetailsCtrl.js"></script>
        <script src="~/app/controllers/newCategoryCtrl.js"></script>
        <script src="~/app/controllers/confirmModalCtrl.js"></script>
        <script src="~/app/controllers/loginCtrl.js"></script>
        <script src="~/app/controllers/homeCtrl.js"></script>
        <script src="~/app/controllers/householdCtrl.js"></script>
        <script src="~/app/controllers/householdDetailsCtrl.js"></script>
        <script src="~/app/controllers/householdJoinCtrl.js"></script>
            -->
    </body>
    </html>
*@