
.spacing {
    min-height: 2px;
}

.labelSpace {
    margin-top: 5%;
    margin-right: -20%;
}


.editTransLabelWidth {
    width:120px;
}

.editTransInputWidth {
    width:280px;
    display:inline-block;
}

.panel-custom1 {
    background-color:#09192A;
}