<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{accountEdit.account.Name}} - Balance: {{accountEdit.account.Balance | currency}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-leg-12">
                <input type="text" placeholder="Account Name" name="Name" id="name" ng-model="accountEdit.name" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="text" placeholder="Account Balance" name="Balance" id="balance" ng-model="accountEdit.balance" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" ng-click="accountEdit.editAccount(accountEdit.name, accountEdit.balance, accountEdit.account.Id)">Save</button>
            </div>
        </div>
    </div>
</div>